body {
	margin: 20px;
	text-align: center;
	font-family: verdana;
}

.card {
	padding: 20px;
	display: flex;
	justify-content: space-around; 
	width: 400px;
	margin: 0 auto; 
	border-bottom: 8px solid black;
	background: lightgray;

}

.avater {
	width: 150px;
} 

.dbb {
	border: 2px dotted blue;
}